compute_environment: LOCAL_MACHINE
debug: false
deepspeed_config:
  deepspeed_multinode_launcher: standard
  offload_optimizer_device: none
  offload_param_device: none
  zero3_init_flag: true
  zero3_save_16bit_model: true
  zero_stage: 3
  # =========================
  # ZeRO OFFLOAD CONFIGURATION
  # =========================
  # offload_optimizer:
  #   device: cpu
  #   pin_memory: true

  #  Optional: only needed for ZeRO-2 or ZeRO-3
  # offload_param:
  #   device: cpu
  #   pin_memory: true
  bf16:
    enabled: auto  # Set to 'auto' to match Hugging Face's bf16 settings

distributed_type: DEEPSPEED
downcast_bf16: 'no'
machine_rank: 0
main_training_function: main
mixed_precision: bf16
num_machines: 1
num_processes: 2
rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
use_cpu: false